.btn {
  display: block;
  border-style: solid;
  align: 0 auto;
}

.cyan {
  color: black;
  background-color: rgb(80, 227, 194);
  text-decoration: none;
  background-color: rgb (80, 227, 194);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.small {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 15px;
}

.large {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

@media screen and (max-width: 1179px) {
  .small {
    width: 100%;
    font-size: 13px;
  }

  .large {
    width: 214px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
  }
}
